<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
     <link rel="stylesheet" href="/new.css">

</head>
<body>
    <h2 style="text-align: center;">Edit Your Post</h2>
    <h2  style="text-align: center; margin-top: 1vw; margin-bottom: 1vw;">Post Id : <%= post.id %> </h2>
    <h2 style="text-align: center;">Post Username : @<%= post.username %> </h2>
    <div class="form-container">
        <form method="post" action="/posts/<%= post.id %>?_method=PATCH" >
            <textarea placeholder="Edit Message"  name="content" required> <%= post.content %> </textarea>
            <button>Submit Post</button> 
        </form>
</body>
</html>